

.devin-container {
    text-align: center;
    background-color: #0056b3;
    height: 65em;
}

.devin-image {
    position: relative;
    top: 12.5em;
    width: 45em;
    height: 37em;
}

.button-container {
    margin-top: -4em;
    display: flex;
    justify-content: center;
    gap: 7.5em;
}

.button {
    display: inline-block;
    margin-top: 20em;
    padding: 25px 45px;
    font-size: 1em;
    font-family: "Apercu Mono Pro", sans-serif;
    color: white;
    background-color: #012169;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.watch-button {
    background-color: #012169; /* YouTube red */
}

.watch-button:hover {
    background-color: #cc0000;
}

.listen-button {
    background-color: #012169; /* Spotify green */
}

.listen-button:hover {
    background-color: #1aa34a;
}
